.ant-input:focus {
  box-shadow: none;
}

.ant-input-affix-wrapper:focus {
  box-shadow: none;
}

.ant-result-subtitle {
  font-size: 16px;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  box-shadow: none;
}

.ant-input-affix-wrapper-focused {
  box-shadow: none;
}
